In [1]:
# Create Imports 
import os 
import csv 
import sys 
import numpy as np
import pandas as pd

In [2]:
# Load File 
budget = "../03-Python/Resources/budget_data.csv"

# Read File              
budget_df = pd.read_csv(budget)
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
budget_df.columns = ['Date', 'Profit_Losses']

In [5]:
# Total number of months included in the dataset (Total Months: 86)
total_months = len(budget_df.index)


# Net total amount of "Profit/Losses" over the entire period (Answer: $38382578)
net_pl = budget_df['Profit_Losses'].sum()


# The average of the changes in "Profit/Losses" over the entire period  (Answer: Average Change: $-2315.12)
change = budget_df['Profit_Losses'].diff()
pl_change = change.mean()


# The greatest increase in profits (date and amount) over the entire period (Answer: Feb-2012 ($1926159))
maxProf_date = budget_df.loc[budget_df['Profit_Losses'].idxmax(), 'Date']
maxProf = change.max()


# The greatest decrease in losses (date and amount) over the entire period (Answer: Sep-2013 ($-2196167))

maxLoss_date = budget_df.loc[budget_df['Profit_Losses'].idxmin(), 'Date']
maxLoss = change.min()


print('Financial Analysis')
print('Total Months: ' , total_months)
print('Total: $',net_pl)
print ('Average Change: $',round(pl_change,2))
print('Greatest Increase in Profits:', maxProf_date, "$",maxProf)
print('Greatest Decrease in Profits:', maxLoss_date, "$", maxLoss)

Financial Analysis
Total Months:  86
Total: $ 38382578
Average Change: $ -2315.12
Greatest Increase in Profits: Feb-2012 $ 1926159.0
Greatest Decrease in Profits: Sep-2013 $ -2196167.0

In [ ]:
sys.stdout=open("PyBank_SolvedwithPrint.csv",'w')
print('Financial Analysis')
print('Total Months: ' , total_months)
print('Total: $',net_pl)
print ('Average Change: $',round(pl_change,2))
print('Greatest Increase in Profits:', maxProf_date, "$",maxProf)
print('Greatest Decrease in Profits:', maxLoss_date, "$", maxLoss)
sys.stdout.close()